* {
    font-family: CMS, Arial, Calibri, Ubuntu, Roboto, Liberation Sans, Helvetica, sans-serif;
}

body {
    background-image: url("/resources/image/error.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: initial;
}

.discover {
    color: black;
    max-width: 40%;
}